body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


header {
    background-color: #ebebeb;
    height: 30px;
    padding: 15px;
    margin-bottom: 10px;
}

nav {
    background-color: #ebebeb;
    height: 30px;
    padding: 15px;
    margin-bottom: 10px;
}

.Section {
    float: left;
    width: 495px;
    height: 275px;
    background-color: #ebebeb;
  }

.Aside {
    float: right;
    height: 275px;
    width: 455px;
    background-color: #ebebeb;
  }
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

footer {
    background-color: #ebebeb;
    height: 30px;
    padding: 15px;
    margin-top: 10px;
}